In [2]:
import pandas as pd

In [4]:
# ATP file contains data from ATP matches from 1968-beginning 2019

tennis_df = pd.read_csv("ATP_cleaned.csv")

In [38]:
tennis_df.head()

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,...,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed
0,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R,NaN,110023,AUS,Richard Coulthard,NaN,NaN,NaN
1,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.520876,NaN,R,NaN,109803,AUS,John Brown,NaN,NaN,NaN
2,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.216290,NaN,R,NaN,100257,AUS,Ross Case,NaN,NaN,NaN
3,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.264203,NaN,R,NaN,100105,AUS,Allan Stone,NaN,NaN,5.0
4,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.861739,NaN,R,NaN,109966,AUS,Warren Jacques,NaN,NaN,NaN

In [40]:
tennis_df.shape

(169690, 49)

In [17]:
# understand how many datapoints are available for columns/attributes

print(tennis_df.info())
tennis_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169690 entries, 0 to 169689
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   best_of             169690 non-null  int64
 1   draw_size           1232 non-null    float64
 2   l_1stIn             83415 non-null   float64
 3   l_1stWon            83415 non-null   float64
 4   l_2ndWon            83415 non-null   float64
 5   l_SvGms             83415 non-null   float64
 6   l_ace               83415 non-null   float64
 7   l_bpFaced           83415 non-null   float64
 8   l_bpSaved           83415 non-null   float64
 9   l_df                83415 non-null   float64
 10  l_svpt              83415 non-null   float64
 11  loser_age           164700 non-null  float64
 12  loser_entry         25339 non-null   object
 13  loser_hand          169605 non-null  object
 14  loser_ht            139052 non-null  float64
 15  loser_id            169690 non-null  int64
 16  loser_ioc           169690 non-null  object
 17  loser_name          169690 non-null  object
 18  loser_rank          145909 non-null  float64
 19  loser_rank_points   93025 non-null   float64
 20  loser_seed          32853 non-null   float64
 21  match_num           169690 non-null  int64
 22  minutes             82103 non-null   float64
 23  round               169690 non-null  object
 24  score               169514 non-null  object
 25  surface             167151 non-null  object
 26  tourney_date        169690 non-null  int64
 27  tourney_id          169690 non-null  object
 28  tourney_level       169690 non-null  object
 29  tourney_name        169690 non-null  object
 30  w_1stIn             83415 non-null   float64
 31  w_1stWon            83415 non-null   float64
 32  w_2ndWon            83415 non-null   float64
 33  w_SvGms             83415 non-null   float64
 34  w_ace               83415 non-null   float64
 35  w_bpFaced           83415 non-null   float64
 36  w_bpSaved           83415 non-null   float64
 37  w_df                83415 non-null   float64
 38  w_svpt              83415 non-null   float64
 39  winner_age          167929 non-null  float64
 40  winner_entry        14748 non-null   object
 41  winner_hand         169651 non-null  object
 42  winner_ht           150884 non-null  float64
 43  winner_id           169690 non-null  int64
 44  winner_ioc          169690 non-null  object
 45  winner_name         169690 non-null  object
 46  winner_rank         149773 non-null  float64
 47  winner_rank_points  94291 non-null   float64
 48  winner_seed         65295 non-null   float64
dtypes: float64(30), int64(5), object(14)
memory usage: 63.4+ MB
None

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,...,w_bpFaced,w_bpSaved,w_df,w_svpt,winner_age,winner_ht,winner_id,winner_rank,winner_rank_points,winner_seed
count,169690.000000,1232.000000,83415.000000,83415.000000,83415.000000,83415.000000,83415.000000,83415.000000,83415.000000,83415.000000,...,83415.000000,83415.000000,83415.000000,83415.000000,167929.000000,150884.000000,169690.000000,149773.000000,94291.000000,65295.000000
mean,3.446072,75.022727,47.705149,31.683690,15.029119,12.159995,4.779776,8.751555,4.808044,3.509081,...,5.174381,3.528790,2.743859,77.906887,25.612639,184.277200,102362.973540,81.409827,1342.313296,6.209495
std,0.832567,43.500071,19.359849,14.437267,7.266522,4.114587,4.625035,4.123616,3.271050,2.623945,...,4.058311,3.081844,2.368677,29.532338,3.943494,6.632803,3958.369064,123.875156,1672.646568,5.401583
min,3.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,14.360000,160.000000,100002.000000,1.000000,1.000000,1.000000
25%,3.000000,64.000000,34.000000,21.000000,10.000000,9.000000,2.000000,6.000000,2.000000,2.000000,...,2.000000,1.000000,1.000000,56.000000,22.760000,180.000000,100445.000000,18.000000,496.000000,2.000000
50%,3.000000,64.000000,44.000000,29.000000,14.000000,11.000000,4.000000,8.000000,4.000000,3.000000,...,4.000000,3.000000,2.000000,73.000000,25.250000,185.000000,101611.000000,48.000000,835.000000,5.000000
75%,3.000000,128.000000,58.000000,39.000000,19.000000,15.000000,7.000000,11.000000,7.000000,5.000000,...,7.000000,5.000000,4.000000,94.000000,28.130000,188.000000,103694.000000,96.000000,1508.000000,8.000000
max,5.000000,128.000000,328.000000,284.000000,101.000000,91.000000,103.000000,35.000000,28.000000,26.000000,...,34.000000,24.000000,23.000000,491.000000,58.718686,208.000000,208996.000000,2101.000000,16950.000000,35.000000

In [19]:
tennis_df.columns

Index(['best_of', 'draw_size', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms',
       'l_ace', 'l_bpFaced', 'l_bpSaved', 'l_df', 'l_svpt', 'loser_age',
       'loser_entry', 'loser_hand', 'loser_ht', 'loser_id', 'loser_ioc',
       'loser_name', 'loser_rank', 'loser_rank_points', 'loser_seed',
       'match_num', 'minutes', 'round', 'score', 'surface', 'tourney_date',
       'tourney_id', 'tourney_level', 'tourney_name', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_ace', 'w_bpFaced', 'w_bpSaved', 'w_df',
       'w_svpt', 'winner_age', 'winner_entry', 'winner_hand', 'winner_ht',
       'winner_id', 'winner_ioc', 'winner_name', 'winner_rank',
       'winner_rank_points', 'winner_seed'],
      dtype='object')

In [8]:
#last tournament in ATP csv is of 25 Feb 2019, check how many matches

tennis2019 = tennis_df[tennis_df.tourney_date == 20190225]

In [9]:
tennis2019.shape

#89 matches

(89, 49)

In [10]:
# load ATP matches of 2019

ATP2019 = pd.read_csv("atp_matches_2019.csv")

In [16]:
ATP2019.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,2781.000000,2.781000e+03,2781.000000,2781.000000,1110.000000,1588.000000,2780.000000,2781.000000,695.000000,1447.000000,...,2679.000000,2679.000000,2679.000000,2679.000000,2679.000000,2679.000000,2773.000000,2773.000000,2741.000000,2741.000000
mean,60.194175,2.019030e+07,288.857605,114459.656958,7.865766,186.102015,27.691881,115186.033082,8.746763,185.810643,...,50.715939,34.304965,14.893990,12.583427,4.778275,8.432251,64.026686,1750.566174,86.168916,1129.286757
std,41.966238,1.635869e+03,218.471215,22544.410658,7.162484,7.832102,4.894653,23665.909797,7.441940,7.490894,...,19.314067,14.590270,6.872081,4.226110,3.302538,4.160945,81.947842,2062.508500,103.352163,1180.880695
min,4.000000,2.018123e+07,1.000000,100644.000000,1.000000,163.000000,16.364134,100644.000000,1.000000,163.000000,...,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,6.000000,1.000000,2.000000
25%,32.000000,2.019030e+07,247.000000,104926.000000,3.000000,183.000000,23.375770,105138.000000,4.000000,183.000000,...,37.000000,24.000000,10.000000,9.000000,2.000000,5.000000,19.000000,696.000000,34.000000,571.000000
50%,32.000000,2.019061e+07,279.000000,105732.000000,6.000000,185.000000,28.030116,105807.000000,6.000000,185.000000,...,47.000000,32.000000,14.000000,12.000000,4.000000,8.000000,47.000000,1011.000000,62.000000,860.000000
75%,128.000000,2.019082e+07,291.000000,111442.000000,10.000000,190.000000,31.649555,111513.000000,11.000000,190.000000,...,61.000000,42.000000,19.000000,15.000000,7.000000,11.000000,79.000000,1795.000000,99.000000,1240.000000
max,128.000000,2.019112e+07,1701.000000,209188.000000,33.000000,208.000000,40.624230,209238.000000,33.000000,208.000000,...,153.000000,100.000000,49.000000,34.000000,23.000000,29.000000,1125.000000,12415.000000,1491.000000,12355.000000

In [18]:
ATP2019.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [11]:
#check of matches of last tournament are the same
tennis2019 = ATP2019[ATP2019.tourney_date == 20190225]

In [12]:
tennis2019.shape

# so yes also 89 matches

(89, 49)

In [26]:
ATP2019_cleaned = ATP2019.iloc[610:]

In [29]:
ATP2019_cleaned.head()

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,...,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed
610,3,128,59.0,42.0,12.0,15.0,3.0,4.0,1.0,2.0,...,25.497604,NaN,R,185.0,106233,AUT,Dominic Thiem,8.0,3800.0,7.0
611,3,128,71.0,57.0,22.0,17.0,17.0,3.0,2.0,5.0,...,25.497604,NaN,R,185.0,106233,AUT,Dominic Thiem,8.0,3800.0,7.0
612,3,128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.568789,NaN,R,185.0,103819,SUI,Roger Federer,4.0,4600.0,4.0
613,3,128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.497604,NaN,R,185.0,106233,AUT,Dominic Thiem,8.0,3800.0,7.0
614,3,128,31.0,23.0,8.0,9.0,2.0,3.0,1.0,1.0,...,28.183436,NaN,R,196.0,105683,CAN,Milos Raonic,14.0,2275.0,13.0

In [28]:
#change order of columns to ATP csv
ATP2019_cleaned = ATP2019_cleaned[['best_of', 'draw_size', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms',
       'l_ace', 'l_bpFaced', 'l_bpSaved', 'l_df', 'l_svpt', 'loser_age',
       'loser_entry', 'loser_hand', 'loser_ht', 'loser_id', 'loser_ioc',
       'loser_name', 'loser_rank', 'loser_rank_points', 'loser_seed',
       'match_num', 'minutes', 'round', 'score', 'surface', 'tourney_date',
       'tourney_id', 'tourney_level', 'tourney_name', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_ace', 'w_bpFaced', 'w_bpSaved', 'w_df',
       'w_svpt', 'winner_age', 'winner_entry', 'winner_hand', 'winner_ht',
       'winner_id', 'winner_ioc', 'winner_name', 'winner_rank',
       'winner_rank_points', 'winner_seed']]

In [30]:
ATP2019_cleaned.head()

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,...,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed
610,3,128,59.0,42.0,12.0,15.0,3.0,4.0,1.0,2.0,...,25.497604,NaN,R,185.0,106233,AUT,Dominic Thiem,8.0,3800.0,7.0
611,3,128,71.0,57.0,22.0,17.0,17.0,3.0,2.0,5.0,...,25.497604,NaN,R,185.0,106233,AUT,Dominic Thiem,8.0,3800.0,7.0
612,3,128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.568789,NaN,R,185.0,103819,SUI,Roger Federer,4.0,4600.0,4.0
613,3,128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.497604,NaN,R,185.0,106233,AUT,Dominic Thiem,8.0,3800.0,7.0
614,3,128,31.0,23.0,8.0,9.0,2.0,3.0,1.0,1.0,...,28.183436,NaN,R,196.0,105683,CAN,Milos Raonic,14.0,2275.0,13.0

In [41]:
ATP2019_cleaned.shape

(2171, 49)

In [31]:
ATP2020 = pd.read_csv("atp_matches_2020.csv")

In [32]:
ATP2020.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2020-8888,Atp Cup,Hard,24,A,20200106,300,104925,NaN,NaN,...,51.0,39.0,6.0,10.0,6.0,8.0,2.0,9055.0,1.0,9985.0
1,2020-8888,Atp Cup,Hard,24,A,20200106,299,105138,NaN,NaN,...,35.0,21.0,6.0,9.0,5.0,10.0,10.0,2335.0,34.0,1251.0
2,2020-8888,Atp Cup,Hard,24,A,20200106,298,104925,NaN,NaN,...,57.0,35.0,25.0,14.0,6.0,11.0,2.0,9055.0,5.0,5705.0
3,2020-8888,Atp Cup,Hard,24,A,20200106,297,105583,NaN,NaN,...,54.0,39.0,14.0,12.0,0.0,1.0,34.0,1251.0,17.0,1840.0
4,2020-8888,Atp Cup,Hard,24,A,20200106,296,104745,NaN,NaN,...,55.0,37.0,10.0,14.0,1.0,5.0,1.0,9985.0,18.0,1775.0

In [42]:
ATP2020_cleaned.shape

(638, 49)

In [35]:
#tournaments until march 2020
ATP2020_cleaned = ATP2020.iloc[:638]

In [36]:
ATP2020_cleaned.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
633,2020-8996,Santiago,Clay,32,A,20200224,276,106148,NaN,NaN,...,69.0,45.0,18.0,15.0,9.0,14.0,97.0,614.0,105.0,548.0
634,2020-8996,Santiago,Clay,32,A,20200224,275,122669,NaN,LL,...,24.0,15.0,13.0,9.0,2.0,6.0,146.0,380.0,164.0,296.0
635,2020-8996,Santiago,Clay,32,A,20200224,273,105643,7.0,NaN,...,35.0,22.0,11.0,9.0,3.0,7.0,85.0,676.0,158.0,315.0
636,2020-8996,Santiago,Clay,32,A,20200224,272,106099,NaN,NaN,...,26.0,17.0,17.0,9.0,7.0,11.0,100.0,600.0,120.0,447.0
637,2020-8996,Santiago,Clay,32,A,20200224,271,126214,NaN,WC,...,36.0,24.0,12.0,9.0,6.0,9.0,166.0,290.0,121.0,446.0

In [37]:
#change order of columns to ATP csv
ATP2020_cleaned = ATP2020_cleaned[['best_of', 'draw_size', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms',
       'l_ace', 'l_bpFaced', 'l_bpSaved', 'l_df', 'l_svpt', 'loser_age',
       'loser_entry', 'loser_hand', 'loser_ht', 'loser_id', 'loser_ioc',
       'loser_name', 'loser_rank', 'loser_rank_points', 'loser_seed',
       'match_num', 'minutes', 'round', 'score', 'surface', 'tourney_date',
       'tourney_id', 'tourney_level', 'tourney_name', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_ace', 'w_bpFaced', 'w_bpSaved', 'w_df',
       'w_svpt', 'winner_age', 'winner_entry', 'winner_hand', 'winner_ht',
       'winner_id', 'winner_ioc', 'winner_name', 'winner_rank',
       'winner_rank_points', 'winner_seed']]

In [39]:
#combine dataframes of ATP with 2019 and 2020
ATP_with2019 = pd.concat([tennis_df, ATP2019_cleaned], ignore_index=True)

#example code: df_row = pd.concat([df1, df2], ignore_index=True)

In [43]:
ATP_with2019.shape

(171861, 49)

In [44]:
ATP_with20192020 = pd.concat([ATP_with2019, ATP2020_cleaned], ignore_index=True)

In [45]:
ATP_with20192020.shape

(172499, 49)

In [47]:
ATP_with20192020.to_csv('ATP_complete.csv', sep = ',', index = False)