### Getting data on ESG grading

In [1]:
# Importing libraries
import yfinance as yf
import pandas as pd
from yahoofinancials import YahooFinancials

In [2]:
# Looking at the sustainability scores one company
cola = "KO"
cola_y = yf.Ticker(cola)
esg_data = pd.DataFrame.transpose(cola_y.sustainability)
esg_data['company_ticker'] = str(cola_y.ticker)
#esg_data

In [3]:
# Import list of 30 tickers from DOW 30
djia = pd.read_csv('./data/ticker.csv')

In [4]:
ticker_lst = list(djia['ticker_code'])
#ticker_lst

In [5]:
# Retrieve Yahoo! Finance sustainability scores for 
#each ticker and skip the ones tha does not have ESG info

for i in djia['ticker_code']:
    # print(i)
    i_y = yf.Ticker(i)
    try:
        if i_y.sustainability is not None:
            temp = pd.DataFrame.transpose(i_y.sustainability)
            temp['company_ticker'] = str(i_y.ticker)
            # print(temp)
            esg_data = esg_data.append(temp)
    except IndexError:
        pass

esg_data.head(3)

2020-8,palmOil,controversialWeapons,gambling,socialScore,nuclear,furLeather,alcoholic,gmo,catholic,socialPercentile,...,coal,pesticides,adult,percentile,peerGroup,smallArms,environmentScore,governancePercentile,militaryContract,company_ticker
Value,False,False,False,10.81,False,False,False,False,False,None,...,False,False,False,35.4,Food Products,False,8.38,None,False,KO
Value,False,False,False,6.56,False,False,False,False,False,None,...,False,False,False,9.38,Textiles & Apparel,False,2.05,None,False,NKE
Value,False,False,False,7.81,False,False,False,False,False,None,...,False,False,False,9.81,Media,False,0.03,None,False,DIS

In [6]:
# Save data frame as CSV
#esg_data.to_csv('djia_sustainability_scores.csv', encoding='utf-8', index = False)

### Getting Stock Prices

In [7]:
# Getting tickers as a list
ticker_lst = list(esg_data['company_ticker'])
#ticker_lst

In [8]:
assets = ['KO',
 'NKE',
 'DIS',
 'AMGN',
 'IBM',
 'WBA',
 'JNJ',
 'CSCO',
 'PG',
 'WMT',
 'V',
 'HD',
 'AXP',
 'MCD',
 'INTC',
 'KO',
 'MSFT',
 'CAT',
 'BA',
 'AAPL',
 'GS',
 'NKE',
 'DIS',
 'AMGN',
 'IBM',
 'WBA',
 'JNJ',
 'CSCO',
 'PG',
 'WMT',
 'V',
 'HD',
 'AXP',
 'MCD',
 'INTC',
 'KO',
 'MSFT',
 'CAT',
 'BA',
 'AAPL',
 'GS']

In [9]:
# Get close price for all the companies 

yahoo_financials = YahooFinancials(assets)

data = yahoo_financials.get_historical_price_data(start_date='2019-01-01', 
                                                  end_date='2020-09-24', 
                                                  time_interval='monthly')

prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['adjclose'] for x in data[a]['prices']} for a in assets
})

prices_df.head(3)

,KO,NKE,DIS,AMGN,IBM,WBA,JNJ,CSCO,PG,WMT,V,HD,AXP,MCD,INTC,MSFT,CAT,BA,AAPL,GS
2019-01-01,45.461830,80.418549,110.173546,177.903961,123.643517,67.885277,126.881439,44.872730,92.077950,92.723198,133.529419,175.497498,99.855850,171.330017,45.183949,102.096245,126.470711,374.705688,40.713184,190.480179
2019-02-01,42.826504,84.199837,111.477608,180.727829,127.056107,66.880051,130.275604,49.504086,94.807220,95.780754,146.495651,177.037048,105.185013,176.179153,50.783997,109.526405,131.279861,427.507721,42.354534,189.219986
2019-03-01,44.262245,82.706970,109.689461,182.029449,131.300186,59.802837,134.162811,51.626919,100.098351,94.368088,154.746765,183.491623,106.708031,183.145294,51.819992,115.796768,129.511505,372.486572,46.663288,185.434952

In [10]:
# Save data frame as CSV
#prices_df.to_csv('djia_prices.csv', encoding='utf-8')